.form-container {
    label {
        display: flex;
        flex-direction: column;
        min-width: 500px;
        font-size: 12px;
        font-weight: normal;
        select {
            width: 150px;
            cursor: pointer;
        }
    }
    .dialog-buttons {
        display: flex;
        justify-content: flex-end;
        .btn {
            margin-left: 15px;
        }
    }
}
