.item-container {
    display: flex;
    width: 90%;
    margin: auto;
    img {
        margin-top: 8px;
        width: 200px;
        height: 250px;
    }
    h4 {
        width: 90%;
        margin: 0 0 0 25px;
        font-weight: bold;
        font-size: 20px;
    }
    p {
        width: 90%;
        margin: 0 0 0 25px;
        font-size: 13px;
        li {
            margin-top: 10px;
            margin-left: 20px;
        }
    }

    .title-description {
        display: flex;
        flex-direction: column;
        .item-buttons {
            display: flex;
            justify-content: flex-end;
            margin-right: 5%;
            margin-top: auto;
            button {
                margin: 10px;
            }
        }
    }
}
