.customer-review-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    h6 {
        width: 250px;
        font-weight: bold;
    }
    p {
        font-size: 12px;
    }
    .filtered-buttons {
        width: 200px;
    }
    .review-detail-container {
        max-width: 1200px;
        margin: 30px 20px;
        display: flex;
        flex-wrap: wrap;
    }
}
